.GridViewStyle
{
font-family:Arial,Sans-Serif;
font-size:small;
table-layout:auto;
border-collapse:collapse;
border:#1d1d1d1pxsolid;

}

/*HeaderandPagerstyles*/

.HeaderStyle
{
background-image:url(Images/HeaderGamer_left.jpg);
background-position:left;
background-repeat:repeat-x;
height:30px;
}
.PagerStyle
{
background-image:url(Images/PagerGamer.jpg);
background-position:top;
background-repeat:repeat-x;
}
.HeaderStyleth
{
padding:0px;
color:#ffffff;
}
.HeaderStylea:link,a:visited
{
text-decoration:none;
color:#ffffff;
display:block;
text-align:left;
font-weight:normal;
border-left:solid1px#666666;
border-right:solid1px#1d1d1d;
padding-top:25px;
padding-bottom:9px;
padding-right:5px;
padding-left:5px;
background-image:url(Images/HeaderGamer.jpg);
background-position:top;
background-repeat:repeat-x;
}
.HeaderStylea:hover
{
background-image:url(Images/HeaderGamer_Hover.jpg);
background-position:top;
background-repeat:repeat-x;
}
.PagerStyletable
{
text-align:center;
margin:auto;
}
.PagerStyletabletd
{
border:0px;
padding:5px;/*paddingaroundpagernumbers*/
}
.PagerStyletd
{
border-top:#1d1d1d1pxsolid;/*topborderofpager*/
height:40px;
}
.PagerStylea
{
color:#ffffff;
text-decoration:none;
padding:2px10px2px10px;
/*borderaroundpagernumbers*/
border-top:solid1px#777777;
border-right:solid1px#333333;
border-bottom:solid1px#333333;
border-left:solid1px#777777;
}
.PagerStylespan
{
font-weight:bold;
color:#FFFFFF;
text-decoration:none;
padding:2px10px2px10px;
}
/*RowStyles*/
.RowStyletd,.AltRowStyletd,.SelectedRowStyletd,.EditRowStyletd/*CommonStyles*/
{
padding:5px;
border-right:solid1px#1d1d1d;
}
.RowStyletd
{
background-color:#333333;
color:#ffffff;
}
.AltRowStyletd
{
background-color:#1d1d1d;
color:#ffffff;
}
.SelectedRowStyletd
{
background-color:#ffff66;
}